# Nord Theme
background_color        0.18 0.20 0.25
text_highlight_color    0.71 0.56 0.68
ruler_mode              1
ui_font                 "Inconsolata Nerd Font Mono"
font_size               22
status_bar_color        0.30 0.34 0.42
status_bar_text_color   0.93 0.94 0.96
status_bar_font_size    22
ui_background_color     0.30 0.34 0.42
ui_text_color           0.93 0.94 0.96
ui_selected_background_color    0.37 0.51 0.67
ui_selected_text_color  0.93 0.94 0.96

# Utilities
create_table_of_contents_if_not_exists 1
multiline_menus         1
should_launch_new_window 1

# Custom
# Embed annotations in present file
new_command _embed_annotations python -m sioyek.embed_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"
# Import annotations
new_command _import_annotations python -m sioyek.import_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"
